.dropdown-container {
	display: flex;
	flex-direction: row;
}

.dropdown-container div {
	margin: 7px;
}

div p {
	margin: 0;
}

.form-container {
	background-color: #f1faee;
	border-radius: 4px;
	box-shadow: 0 0 0.2em #1d3557;
	height: 5em;
	padding: 0.5em;
	width: 90%;
}

.goal-dropdown {
	border-radius: 6px;
	cursor: pointer;
	background-color: #457b9d;
	border: none;
	border-bottom: 2px solid #1d3557;
	color: #f1faee;
	padding: 10px;
	padding-right: 38px;
	margin: 0.5em;
}

form {
	display: flex;
	flex-direction: row;
	height: 8vh;
	justify-content: space-evenly;
}

.submit-goal-btn {
	cursor: pointer;
	text-decoration: none;
	background-color: #f1faee;
	border: solid 2px #1d3557;
	border-radius: 4px;
	font-size: 1.2em;
	margin: 0.5em;
}
